
.dashboard{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 8px;
    /* border: 1px solid black; */
}

.dashboard .cont1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* padding: 1em; */
    border-radius: 8px;
    /* border: 1px solid black; */
}

.dashboard .cont1 .stats{
    display: flex;
    gap: 1em;
    /* padding: 1em; */
    border-radius: 8px;
    /* border: 1px solid black; */
}

.dashboard  .cont1 .stats .stat{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    /* background-color: #EEEEEE; */
    border-radius: 8px;
    border: 2px solid #DFDFDF;    
}

.dashboard  .cont1 .stats .stat h2{
    font-size: 2rem;
}

.dashboard .cont2{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dashboard .cont2 .graphscont{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dashboard .cont2 .graphscont .cont2{
    display: grid;
    grid-template-columns: repeat(2,50%);
}


.dashboard .cont2 .graph1{
    padding: 1em;
    border-radius: 8px;
    /* border: 1px solid black; */
}

.dashboard .cont2 .graphs{
    padding: 1em;
    border-radius: 8px;
    /* border: 1px solid black; */
}