.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 8px;
    /* border: 1px solid black; */
}

.sidebar .cont1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 8px;
}

.sidebar .cont1 .links{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3em;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar .cont1 .links svg{
    font-size: 1.4rem;

}

.sidebar .cont1 .links p{
    font-size: 1rem;
    /* text-align: center; */
}

.sidebar .cont1 .links.active{
    background-color: #EEEEEE;
}

.sidebar .cont1 .links:hover{
    background-color: #EEEEEE;
}

.sidebar .cont1 button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    border-radius:8px;
}

.sidebar .cont1 button:hover,button:focus{
    opacity: 0.85;
}

/* mobile */

.sidebar .mobileview{
    display: none;
    width:100%;
}


/* responsive */

@media(max-width:1280px){
    
}
@media(max-width:1024px){

}
@media(max-width:768px){

}
@media(max-width:640px){

}
@media(max-width:475px){

    .sidebar{
        width: 100%;
        padding: 0;
    }

    .sidebar .cont1{
        display:none
    }

    .sidebar .mobileview{
      width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar .mobileview .cont2{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
  }

    .sidebar .mobileview .cont2 .menubtn{
      font-size: 1.5rem;
    }

    .sidebar .mobileview .cont3{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      padding: 1em;
      background-color: white;
      z-index: 999;
    }

    .sidebar .mobileview .cont3 .mobilelinks{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2em;
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      color: black;
  }
    
    .sidebar .mobileview .cont3 .mobilelinks svg{
      font-size: 1.5rem;
  }

    .sidebar .mobileview .cont3 button{
      width:30%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 0.5em;
      outline: none;
      border: none;
      color: white;
      font-size: 1rem;
      background-color: black;
      border-radius:8px;
    }

  
}