.incomescont{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    gap: 1em;
    /* padding: 1em; */
    border-radius: 8px;
    /* border: 1px solid black; */
}

.incomescont h2{
    flex-basis: 100%;
}

.incomescont .cont1{
    width: 100%;
    display: flex;
    gap: 1em;
}


.incomescont input[type="text"]{
    outline: none;
    padding:0.8em;
    width:60%;
    border-radius:8px;
    border: 2px solid black;
}

.incomescont button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: black;
}

.incomescont .cont2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,32.5%);
    gap: 1em;
}

.incomescont .income{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: 8px;
    border: 2px solid #DFDFDF;
}

.incomescont .income .cont1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.incomescont .income .cont1 .title{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.incomescont .income .cont1 .title span{
    color: #6e6e77;
}

.incomescont .income .cont1 p{
    font-size: 2rem;
    font-weight: 700;
}

.incomescont .income .cont2{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #6e6e77;
}

.incomescont .income .cont3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6e6e77;
}

.incomescont .income .cont3 .btns{
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.incomescont .income .cont3 .btns button{
    background: none;
    color: black;
}

.incomescont .income .cont3 .btns button:hover{
    background: #DFDFDF;
}